build_datetime: '1728353595'
kp_client_debug_DisableDecoyTraffic: false
kp_client_debug_EnableTimeSync: false
kp_client_debug_InitialMaxPKIRetrievalDelay: 0
kp_client_debug_PollingInterval: 0
kp_client_debug_SessionDialTimeout: 0
kp_config_LambdaD: 0.0005
kp_config_LambdaDMaxDelay: 3000
kp_config_LambdaGMaxDelay: 100
kp_config_LambdaL: 0.0005
kp_config_LambdaLMaxDelay: 1000
kp_config_LambdaM: 0.0005
kp_config_LambdaMMaxDelay: 100
kp_config_LambdaP: 0.001
kp_config_LambdaPMaxDelay: 1000
kp_config_Mu: 0.005
kp_config_MuMaxDelay: 1000
kp_config_SendRatePerMinute: 0
kp_config_UserForwardPayloadLength: 30000
kp_config_kem: ''
kp_config_log_level: DEBUG
kp_config_nike: x25519
kp_config_ratchetNike: CTIDH512-X25519
kp_config_pkiSignatureScheme: Ed25519
kp_config_wirekem: xwing
kp_debug_ConnectTimeout: 60000
kp_debug_DecoySlack: 15000
kp_debug_DisableRateLimit: false
kp_debug_GatewayDelay: 2500
kp_debug_GenerateOnly: false
kp_debug_HandshakeTimeout: 30000
kp_debug_KaetzchenDelay: 30000
kp_debug_NumGatewayWorkers: 4
kp_debug_NumKaetzchenWorkers: 4
kp_debug_NumServiceWorkers: 4
kp_debug_NumSphinxWorkers: 4
kp_debug_ReauthInterval: 30000
kp_debug_SchedulerExternalMemoryQueue: false
kp_debug_SchedulerMaxBurst: 16
kp_debug_SchedulerQueueSize: 0
kp_debug_SchedulerSlack: 300
kp_debug_SendDecoyTraffic: false
kp_debug_SendSlack: 200
kp_debug_ServiceDelay: 500
kp_debug_UnwrapDelay: 200
kp_misc_topology_layers: 3
kp_misc_transport: tcp
kp_plugin_MaxConcurrency: 10
network_id: '0x00000000'
version_deployer: abd99a369f19677d9b92bbf0481ab1d58fd4273c
version_katzenpost: v0.0.38
version_zkn_opt: v0.3.0
